[submodule "fifthcssassignment"]
	path = fifthcssassignment
	url = git@github.com:omokarogabriel/cssfifthassignment.git
[submodule "thirdcssassignment"]
	path = thirdcssassignment
	url = git@github.com:omokarogabriel/cssthirdassignment.git
[submodule "cssfourthassignment"]
	path = cssfourthassignment
	url = git@github.com:omokarogabriel/cssfourthassignment.git
[submodule "firstcssassignment"]
	path = firstcssassignment
	url = git@github.com:omokarogabriel/cssfirstassignment.git
[submodule "secondcssassignment"]
	path = secondcssassignment
	url = git@github.com:omokarogabriel/csssecondassignment.git
[submodule "csssixthassignment"]
	path = csssixthassignment
	url = git@github.com:omokarogabriel/csssixthassignment.git
