
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p {
  font-size: large;
}



.div-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 2, 1fr);
}
/* .visual {
  display: flex;
  align-items: center;
  background-color: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  gap: 10px;
  padding-left: 10px;

  .first-image {
    width: 25px;  
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover;
  }

  .second-image {
    position: relative;
    left: -20px;
    width: 25px; 
    height: 30px; 
    border-radius: 50%;
    object-fit: cover;
  }

  :hover {
    
  }
} */



/* Visual Section */
.visual {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 10px;
  position: relative; 
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 10px;
}

.first-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.second-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  left: -20px;
  position: relative;
}

/* Para-div Styles */
.para-div {
  display: none; /* Hidden by default */
  position: absolute; /* To position it over the images */
  top: 100px; /* Adjust based on the size and position of the images */
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}

/* Hover Effect: Show the Para-div */
.visual:hover .para-div {
  display: block;
}

/* Hover Effect: Optionally, add a smooth transition */
.visual:hover {
  cursor: pointer;
}

.visual:hover .first-image,
.visual:hover .second-image {
  transform: scale(1.1); /* Slightly enlarge the images when hovering */
  transition: transform 0.3s ease-in-out; /* Smooth image transition */
}


.div-top {
  padding: 100px 220px 50px;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.logo {
  font-size: x-large;
}


.section-down {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pasion-span,
.logistics-span {
  color: green;
  font-size: larger;
  font-weight: 800;
}


.div-bottom {
  background-color: gray;
}

.div-bottom-section {
  background-color: white;
  margin: 108px 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.div-bottom-header {
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: rgba(255, 166, 0, 0.836);
  box-sizing: border-box;
  width: 350px;
  text-align: center;
}


.visual .para-div {
  display: none;  
  position: absolute;  
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(0.8);  
  width: 200px; 
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);  
  color: white;  
  border-radius: 10px;  
  padding: 20px;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.3s ease;  
}

.visual:hover .para-div {
  display: block;  
  opacity: 1; 
  transform: translate(-50%, -50%) scale(1);  
}

/* media query for tablet */

@media (min-width: 769px) and (max-width: 1024px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .div-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2, 1fr);
  }

  .div-top {
    /* padding: 100px 220px 50px; */
    padding: 100px 30px;
  }

  .nav {
    .logo {
      display: block;
    }
    .visual {
      display: none;
    }
  }

  .section-down {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-weight: 400;
    }
  }

  /* div bottom container */



  .div-bottom-section {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* padding-top: 50px;
    padding-bottom: 15px;
    /* padding-left: 15px; */
  } 

  .div-bottom-header {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: rgba(255, 166, 0, 0.836);
    box-sizing: border-box;
    width: 350px;
    text-align: center;
    padding: 5px;
  }

  .section-down-down {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    gap: 20px;

    p {
      font-weight: 500;
    }
  }
}



@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .div-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, 2, 1fr);
  }

  .div-top {
    /* padding: 100px 220px 50px; */
    padding: 50px 30px;
  }

  .nav {
    .logo {
      display: block;
    }
    .visual {
      display: none;
    }
  }

  .section-down {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: large;
      font-weight: 400;
    }
  }

  /* div bottom container */


  /* .div-bottom {
    background-color: gray;
  } */

  .div-bottom-section {
    background-color: white;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* position: relative; */
    /* padding-top: 50px;
    padding-bottom: 15px;
    /* padding-left: 15px; */
  } 

  .div-bottom-header {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: rgba(255, 166, 0, 0.836);
    box-sizing: border-box;
    /* width: 350px; */
    text-align: center;
    padding: 5px;
  }

  .section-down-down {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: large;
      font-weight: 400;
    }
  }
}
